h1{
    text-align: center;
    font-size: 50;
}

img{

    /*Gör så att bakgrunden täcker hela skärmen i det elementen den är i.
    Eftersom bilden laddas i body och det finns en header före bodyn så täcker den bara det elementet.
    Om jag skulle ta bort h1 så skulle hela sidan täckas av bilden*/
    width: 100vw; 
    height: 100vh;
}