/*Laddar in en bakgrundsbild*/
.bakgrund{

    width: 100vw; 
    height: 100vh;
    
}

/*Flyttar rubriken till mitten av skärmen och ändrar font storlek till 50*/
h1{

    text-align: center;
    font-size: 50;
    background-color: white;
    margin-top: 0%;
    padding: 1%;
    margin-bottom: 0%;

}

body{
    display: grid;
    background-image: url(bilder/Background\ image.jpg);
    background-size: 100%;
    margin: 0%;

}

#mittendelen{
    background-color:rgba(255, 255, 255, 0.7);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0%;

    text-align: center;
    
}

.vinyler{
    margin: 3%;
    width: 20%;
    
}
